#menu1 {
    display:flex;
    justify-content: center;
    background-color:grey;
}

.item4 {
    margin: 20px 20px;
    padding:100px 80px;
    border:dashed;
    color:white;
    background-image: url('https://media.giphy.com/media/WOb8EeFziTQNE02WXs/giphy.gif');
}


.item1 {
    margin: 10px 8px;
    padding:10px 8px;
    border:dashed;
    color:white;
    background-image: url('https://media.giphy.com/media/WOb8EeFziTQNE02WXs/giphy.gif');
}
#menu2 {display:flex;
justify-content: center;
background-image: url('https://media.giphy.com/media/WOb8EeFziTQNE02WXs/giphy.gif');
border:dashed;}

.item2 {margin: 70px 15px;
padding: 10px 8px;
border:dashed;
color:green;
background-image: linear-gradient(to right, pink, cyan);
border-radius:50px;}

#menu3 {display:flex;
justify-content: space-between;
background-image: url('https://media.giphy.com/media/4b30VHLRtCvKw/giphy.gif');
border:solid;}

.item3 {margin: 40px 8px;
padding: 10px 8px;
border:dashed;
color:red;
background-image: linear-gradient(to right, blue, yellow);
border-radius:50px;}